[Unit]
Description=Samba Docker Fix

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'sudo -u user /usr/bin/samba-docker-fix.sh'
User=root
Group=systemd-journal

[Install]
WantedBy=default.target
